
body, html {
    font-family: sans-serif;
}

/* Baner */
header {
    background-color: black;
    min-height: 50px;
    height: 50px;
    position: relative;
}

/* Green text with bold */
span {
    color: #27C1A3;
    font-weight: 600;
}

.container {
    width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation__bar {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

/* Navigation box */
.navigation__bar > li {
    white-space: nowrap;
    justify-content: flex-end;
    width: 120px;
}

/* Navigation box when hover */
.navigation__bar li a:hover {
    color: #cccccc;

}

/* Navigation box, first box "SIT ON CHAIR"*/
.navigation__bar li:nth-of-type(1) {
    padding-left: 0;
    margin-right: auto;
}

/* Navigation box, last box "SIT ON CHAIR"*/
.navigation__bar li:nth-of-type(4) {
    width: auto; /* giving us that last 3 boxes are moved to the right to the containter*/
}


/* Stylizing links inside navigation bar */
.navigation__bar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.submenu ul {
    display: none;
    position: relative;
}

.submenu:hover ul {
    display: block;
    padding-top: 20px;
    left: -15px;
}

.submenu ul li a {
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
}

.submenu ul li:nth-child(2) a {
     padding-top: 15px;
}

.submenu ul li:nth-child(4) a {
    padding-bottom: 10px;
}

.arrow {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: relative;
    margin: 0 auto;
}

.middle__section {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, #fbfbfb, #efeff1, #e3e3e7, #d7d7dd, #cbcbd3);
}

.middle__section div {
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.middle__section__arrow {
    min-width: 70px;
    color: #27C1A3;
    font-size: 78px;
    cursor: pointer;
    align-items: center;
}

.middle__section__image {
    display: flex;
    align-items: center;
    min-width: 337px;
}


.middle__section__description {
    min-width: 350px;
    flex-direction: column;
    text-align: center;
    padding-right: 30px;
}

.middle__section__description__button {
    background-color: #27C1A3;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 250px;
    margin: 0 auto 130px auto;
}

.middle__section__description__button a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    flex-wrap: nowrap;
}

/* first text in description */
.middle__section__description p:nth-child(1) {
    margin-top: 120px;
    height: 90px;
    font-size: 2em;
}

/* 2nd text in description */
.middle__section__description p:nth-child(2) {
    height: 150px;
}

/*
button when hovered
 */
.middle__section__description__button:hover {
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-moz-keyframes animationFrames {
    0% {
        -moz-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -moz-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -o-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -o-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -o-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -ms-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -ms-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -ms-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -ms-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -ms-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.next__to__middle__section {
    min-height: 350px;
    width: 100%;
}

.next__to__middle__section .container {
    padding-top: 27px;
    display: flex;
    height: 350px;
}

.next__to__middle__section__container__2nd__image {
    margin-left: 26px;
}

.find__all__inputs {
    width: 340px;
    height: 250px;
    border: 1px solid #DBDBDB;
    margin-left: 26px;
    padding: 30px 22px;
}
/* First paragraph */
.find__all__inputs p:nth-child(2) {
  font-size: 0.86em;
    margin-top: 45px;
    font-weight: 300;
}
/* 2nd paragraph */
.find__all__inputs p:nth-child(3) {
    font-size: 0.86em;
    margin-top: 30px;
    font-weight: 300;
}
/* Bold names*/
.find__all__inputs h2 {
    font-weight: 700;
    font-size: 1.1em;
    position: absolute;
}

/* green line*/
.container h2:after {
    content: "";
    display: block;
    width: 138px;
    height: 7px;
    background: #28C5B0;
    position: relative;
    margin-top: 5px;
}

/* transparent box in each image box*/
.background__image {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.3);
    height: 61px;
    width: 100%;
    position: relative;
    bottom: 80px;
}

/* padding for word "Chair CLAIR" and "Chair MARGARITA"*/
.background__image h2 {
    padding: 15px;
}

.prices {
    background-color: #F0F0F0;
}

/* adjust green line*/
.prices .container h2:after {
    margin-top: 8px;
    width: 320px;
}

/* padding for word "CENNIK*/
.prices .container h2 {
    padding: 50px 0;
    margin-bottom: 0;
    font-size: 16px;
}

/* DIV with boxes of plans*/
.plans {
    display: flex;
}

.box__of__plans {
    width: 330px;
    height: 500px;
    border: 2px solid #D5D5D5;
    text-align: center;
    color: #24C8A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    background-color: #F8F8F8;
}

.circle {
    position: relative;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #C1C1C1;
    margin-bottom: 32px;
}

lowered__number {
    position: relative;
    top: 4px;
}

top__number {
    position: relative;
    bottom: 17px;
}

.circle strong {
    font-size: 33px;
}
/* Title ie. BASIC PLAN */
.box__of__plans p:nth-child(1) {
    margin: 33px 0;
    font-size: 18px;
    font-weight: 300;
}

.circle p:nth-child(1) {
    margin: 5px;
}
.circle p:nth-child(2) {
    font-size: 12px;
}

.box__of__plans p:nth-child(3), .box__of__plans p:nth-child(5) {
    background-color: #E4E4E4;
    color: #9A9A9A;
    height: 42px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.box__of__plans p:nth-child(4), .box__of__plans p:nth-child(6) {
    background-color: #F1F1F1;
    color: #9A9A9A;
    height: 42px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}


.button__dolacz {
    background-color: #27C1A3;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    width: 123px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 19px;
}

.button__dolacz a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    flex-wrap: nowrap;
}


.basic__plan {

}

.standard__plan {
    margin: 0 31px;
}

.advanced__plan {

}