@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500');

body, html {
    font-family: 'Raleway', Helvetica, sans-serif;
}

/* Top banner */
header {
    background-color: black;
    min-height: 50px;
    height: 50px;
    position: relative;
}

/* Green text with bold */
.navigation__bar span, .middle__section span {
    color: #27C1A3;
    font-weight: 600;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.navigation__bar {
    display: flex;
    height: 50px;

}

/* Navigation box */
.navigation__bar > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

/* Navigation list when hover */
.navigation__bar a:hover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__bar li:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: height 0.4s ease-in-out;
}

/* Navigation box, first box "SIT ON CHAIR"*/
.navigation__bar > li:nth-of-type(1) {
    width: 140px;
    padding-left: 0;
    margin-right: auto;
}

/* Stylizing links inside navigation bar */
.navigation__bar a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.submenu {
    position: absolute;
    display: none;
}

.navigation__bar li:nth-child(2):hover .submenu {
    display: flex;
    flex-direction: column;
    top: 50px;
    padding-top: 5px;
    width: calc(100% + 20px);
    animation: submenu 1500ms;
}

@keyframes submenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* when hovered "O FIRMIE" -> .submenu what to do with "a" elements */
ul.submenu a:hover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 1500ms;
    opacity: 0.77;
}

/* how will looks "a" elements inside .submenu */
.submenu li a {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-start;

}

/* in .submenu 4th element. In my sumbenu is "HISTORIA" */
.submenu li:nth-child(4) a {
    padding-bottom: 10px;
}

/* arrow on top of .submenu */
.arrow {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: relative;
    margin: 0 auto;
}

.middle__section {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, #fbfbfb, #efeff1, #e3e3e7, #d7d7dd, #cbcbd3);
}

.middle__section div {
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.middle__section__arrow {
    min-width: 70px;
    color: #27C1A3;
    font-size: 78px;
    cursor: pointer;
    align-items: center;
}

.middle__section__image {
    display: flex;
    align-items: center;
    min-width: 337px;
}

.middle__section__description {
    min-width: 350px;
    flex-direction: column;
    text-align: center;
    padding-right: 30px;
}

.middle__section__description__button {
    background-color: #27C1A3;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 250px;
    margin: 0 auto 130px auto;
}

.middle__section__description__button a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    flex-wrap: nowrap;
}

/* first text in description */
.middle__section__description p:nth-child(1) {
    margin-top: 120px;
    font-size: 2em;
    font-weight: 500;
}

/* 2nd text in description */
.middle__section__description article {
    font-weight: 200;
}

/* button when hovered */
.middle__section__description__button:hover {
    animation: animationFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.40) scaleY(1.40);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-moz-keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.40) scaleY(1.40);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.40) scaleY(1.40);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-o-keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.40) scaleY(1.40);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-ms-keyframes animationFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.40) scaleY(1.40);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.next__to__middle__section {
    min-height: 350px;
    width: 100%;
}

.next__to__middle__section .container {
    padding-top: 27px;
    display: flex;
    height: 350px;
}

.next__to__middle__section__container__2nd__image {
    margin-left: 26px;
}

.find__all__inputs {
    width: 340px;
    height: 250px;
    border: 1px solid #DBDBDB;
    margin-left: 26px;
    padding: 30px 22px;
}

/* First paragraph */
.find__all__inputs p:nth-child(2) {
    font-size: 0.86em;
    margin-top: 45px;
    font-weight: 300;
}

/* 2nd paragraph */
.find__all__inputs p:nth-child(3) {
    font-size: 0.86em;
    margin-top: 30px;
    font-weight: 300;
}

/* Bold names*/
.find__all__inputs h2 {
    font-weight: 700;
    font-size: 1.1em;
    position: absolute;
}

/* green line*/
.container h2:after {
    content: "";
    display: block;
    width: 138px;
    height: 7px;
    background: #28C5B0;
    position: relative;
    margin-top: 5px;
}

/* transparent box in each image box*/
.background__image {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.3);
    height: 61px;
    width: 100%;
    position: relative;
    bottom: 80px;
}

/* padding for word "Chair CLAIR" and "Chair MARGARITA"*/
.background__image h2 {
    padding: 15px;
}

.prices {
    background-color: #F0F0F0;
    height: 725px;
}

/* adjust green line*/
.prices .container h2:after {
    margin-top: 8px;
    width: 320px;
}

/* adjust for word "CENNIK*/
.prices .container h2 {
    padding: 50px 0;
    margin-bottom: 0;
    font-size: 16px;
}

/* DIV with boxes of plans*/
.plans {
    display: flex;
    justify-content: space-between;
}

.box__of__plans {
    width: 330px;
    height: 500px;
    border: 2px solid #D5D5D5;
    text-align: center;
    color: #24C8A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    background-color: #F8F8F8;
    position: relative;
}

.circle {
    position: relative;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #C1C1C1;
    margin-bottom: 32px;
}

.lowered__number {
    position: relative;
    top: 4px;
}

.top__number {
    position: relative;
    bottom: 17px;
}

/* adjust in first 2 numbers inside circle */
.circle strong {
    font-size: 33px;
}

/* Title text ie. BASIC PLAN */
.box__of__plans p:nth-of-type(1) {
    margin: 33px 0;
    font-size: 18px;
    font-weight: 300;
}

/* adjust in all numbers inside circle */
.circle p:nth-of-type(1) {
    margin: 5px;
}

/* adjust in "PLN/MSC" inside circle */
.circle p:nth-of-type(2) {
    font-size: 12px;
}

/* adjust in 1st and 3rd line in boxes - just after circle*/
.box__of__plans > p:nth-of-type(3), .box__of__plans > p:nth-of-type(5) {
    background-color: #E4E4E4;
    color: #9A9A9A;
    height: 42px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

/* adjust in 2st and 4rd line in boxes - just after circle*/
.box__of__plans > p:nth-of-type(2), .box__of__plans > p:nth-of-type(4), .box__of__plans > p:nth-of-type(6) {
    background-color: #F1F1F1;
    color: #9A9A9A;
    height: 42px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.button__dolacz {
    background-color: #27C1A3;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    width: 123px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 19px;
    position: relative;
}

.button__dolacz a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    flex-wrap: nowrap;
}

.top__circle {
    border: 3px solid #d6d5d5;
    width: 57px;
    height: 57px;
    border-radius: 40px;
    position: absolute;
    background-color: white;
    top: -42px;
}

.top__circle:before {
    content: '';
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    background-color: #D5D5D5;
    top: 12px;
    left: 12px;
}

/* adjustment only in box BASIC PLAN*/
.basic__plan {

}

/* adjustment only in box STANDARD PLAN*/
.standard__plan .top__circle:before {
    left: 13px;
}
/* adjustment only in box STANDARD PLAN*/
.standard__plan, .standard__plan > .circle p, .standard__plan > .top__circle, .standard__plan > .circle, .standard__plan > .box__of__plans p, .standard__plan .button__dolacz a {
    background-color: #27C1A3;
    color: white;
}

/* adjustment only in box STANDARD PLAN*/
.standard__plan.box__of__plans, .standard__plan .top__circle {
    border: 2px solid #27C1A3;

}

/* adjustment only in box STANDARD PLAN*/
.standard__plan .circle, .standard__plan .circle p, .standard__plan .button__dolacz, .standard__plan .button__dolacz a, .standard__plan .top__circle:before {
    background-color: white;
    color: #27C1A3;
}

/* adjustment only in box ADVANCED PLAN*/
.advanced__plan {

}

.contact .container h2 {
    padding: 30px 0;
}

/* adjust green line in contact*/
.contact .container h2:after {
    margin-top: 8px;
    width: 320px;
}

.contact_table {
    width: 100%;
}

/*first column*/
.contact_table td {
    width: 70%;
    /*border: 1px solid black;*/
}

/*first row*/
.contact_table th {
    /*border: 1px solid black;*/
}

.name__table input {
    height: 65px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #A4E1D1;
    padding-top: 17px;
}

.email__table input {
    height: 65px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #A4E1D1;
    padding-top: 17px;
}

/*stylizing form to looks like input*/
.message__table form textarea {
    width: 100%;
    height: 188px;
    resize: none;
    border: 1px solid #A4E1D1;
    margin: 10px 0;
}

/*stylizing placeholder text*/
.message__table form textarea::placeholder, .email__table input::placeholder, .name__table input::placeholder {
    color: #CDCDCD;
    font-size: 2em;
    font-weight: 100;
    padding: 0 15px;
}

/*stylizing placeholder text only in message__table*/
.message__table form textarea::placeholder {
    padding-top: 10px;
}

.photo__table {
    background: url("../images/chair Orange.jpg") no-repeat center;
    background-size: contain;
}

